.checkout-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .1rem solid #000000;
    padding: .5rem;
    margin: .5rem;
    min-width: 80%;

    h3 {
        margin-left: auto;
        margin-right: auto;
    }

    .checkout-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .2rem;
    }
   
}

.confirm input[type=submit] {
    background-color: #858282;
    border: .1rem solid #000000;
    border-radius: .1rem;
    font-size: x-large;
    font-weight: bold;
    font-family: inherit;
    padding: .5rem;
    color: #e7e2e2;
}