.mobile-add-comment {
    font-size: 40px;
}

.mobile-user {
    font-weight: bold;
}

.mobile-comment-text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 10px solid rgb(26, 25, 25);
    border-bottom: 10px solid rgb(26, 25, 25);
    background-color: rgba(26, 25, 25, 0.267);
    font-size: 50px;

    p {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}